.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #2629333c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

  /* .-image {
    height: 14rem;
    width: 100%;
    object-fit: cover;
  }   */
}

.card:hover {
  transform: scale(1.02);
}

.card-image {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.card-title {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.card-button {
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  background: transparent;
  border: 2px solid #060b26;
  color: #060b26;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card-button:hover {
  background-color: #060b26;
  color: white;
}

.background {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-wrapper {
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: flex;
  z-index: 10;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  padding: 10px;
  vertical-align: middle;
  margin-top: 180px;
}

.modal-content {
  align-content: center;
  text-align: center;
}

.modal-test {
  align-content: center;
}

.modal-flag {
  width: 400px;
  height: 250px;
  margin: auto;
}

.rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-type {
  margin: auto;
  margin-right: 5px !important;
}

.info {
  margin: auto;
  margin-left: 5px !important;
  
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
  font-weight: 300;
}